{% extends 'common/base.html' %}

{% block main %}
    <main>

        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">{% block object_name %}{% endblock %}</h1>
                    <p class="lead text-muted">
                        {% block object_description %}
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad, alias amet at autem
                            consequatur, eius eligendi explicabo illum impedit incidunt ipsa iure magni minus nam odit
                            placeat tempore veniam!
                        {% endblock %}
                    </p>
                    <p>
                        {% if request.user.is_authenticated %}
                            {% block create_new_button %}{% endblock %}
                        {% else %}
                            <a href="{% url 'login' %}" class="btn btn-primary my-2">Login</a>
                        {% endif %}
                        <a href="{% url 'about' %}" class="btn btn-secondary my-2">About</a>
                    </p>
                </div>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {% block search_result_banner %}
                        <div class="col-12">
                            {% if request.GET.search %}
                                <h3>Search results: {{ request.GET.search }}</h3>
                            {% endif %}
                        </div>
                    {% endblock %}
{% block items %}

{% endblock %}


                </div>
            </div>
        </div>

    </main>
{% endblock %}