{% extends 'common/base.html' %}

{% block main %}

    <main>

        <section class="container">
            <div class="row py-lg-5 ">
                <div class="col-lg-6 col-md-6 mx-auto mb-3">
                    <h1 class="fw-light">{% block name %}{% endblock %}</h1>
                </div>
                <p class="col-6 text-end">
                    {% block additional_buttons %}{% endblock %}

                    <a href="{% url 'homepage' %}" class="btn btn-secondary my-2">To main page</a>
                </p>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {% block detail_content %}

                    {% endblock %}

                </div>
            </div>
        </div>

    </main>
{% endblock %}